<% layout('layouts/boilerplate') %>
    <form action="/account" method="POST" novalidate class="validated-form">
        <div class="row mb-5">
            <div class="col mb-3">
                <div class="card shadow py-3 px-3 mb-3 mb-3">
                    <div class="card-header bg-white">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="card-body">

                        <div class="row mt-3">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="firstname">First Name</label>
                                    <input class="form-control form-control-sm" id="firstname" required name="firstname" value="<%= currentUser.firstname %>">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="surname">Surname</label>
                                    <input class="form-control form-control-sm" id="surname" required name="surname" value="<%= currentUser.surname %>">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="email">
                                    E-mail Address
                                </label>
                                    <input type="text" id="email" name="username" required value="<%= currentUser.username %>" type="email" class="form-control">
                                </div>
                                <% if (currentUser.googleId) { %>
                                    <div class="col-6"><small><a href="#" class="btn btn-outline-dark mt-4"><img height="25px" class="my-0 me-2" src="/img/web_light_sq_ctn@4x.png">Connected with Google</a></small></div>
                                    <% } %>
                                        <% if (currentUser.facebookId) { %>
                                            <div class="col-6"><small><a href="#" class="btn btn-outline-primary mt-4"><i class="bi bi-facebook me-2"></i>Connected with Facebook</a></small></div>
                                            <% } %>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-6">
                                <label for="dob">Date of Birth</label>
                                <input type="date" id="dob" name="dob" required class="form-control form-control-sm" <% if (currentUser.dob) { %> value="<%= new Date(currentUser.dob).toISOString().split('T')[0] %>"
                                    <% } %>>
                            </div>
                            <div class="col-6">
                                <div class="form-check mt-3">
                                    <label for="displayBookings" class="form-check-label">Display Bookings</label>
                                    <input type="checkbox" class="form-check-input" name="displayBookings" id="displayBookings" <%= currentUser.displayBookings ? 'checked' : '' %>>
                                    <p class="form-text">Display name on event bookings</p>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <p class="form-text">The following information is not required to book an event, however in the event of an accident or emergency this information may aid us in getting you the appropriate assistance as quickly as possible.</p>
                        <div class="mb-3">
                            <label for="emergencyContactName">Emergency Contact Name</label>
                            <input type="text" id="emergencyContactName" name="emergencyContactName" class="form-control form-control-sm" value="<%= currentUser.emergencyContactName %>">
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="emergencyContactNumber">Emergency Contact Number</label>
                                <input type="tel" id="emergencyContactNumber" name="emergencyContactNumber" class="form-control form-control-sm" value="<%= currentUser.emergencyContactNumber %>">
                            </div>
                            <div class="col-6">
                                <label for="emergencyContactRelation">Emergency Contact Relation</label>
                                <input type="text" id="emergencyContactRelation" name="emergencyContactRelation" class="form-control form-control-sm" placeholder="e.g. Partner, Parent, etc." value="<%= currentUser.emergencyContactRelation %>">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="medicalInfo">Medical Notes</label>
                            <textarea rows="2" id="medicalInfo" name="medicalInfo" class="form-control form-control-sm"><%= currentUser.medicalInfo %></textarea>
                            <div id="medicalInfo" class="form-text">
                                Do you have any medical conditions that may be relevant to, or the cause of, any emergency situations? This information will only be shared with First Aid teams should an issue arise.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="medicalInfo">Food Allergy/Dietary Notes</label>
                            <textarea rows="2" id="allergyDietary" name="allergyDietary" class="form-control form-control-sm"><%= currentUser.allergyDietary %></textarea>
                            <div id="allergyDietary" class="form-text">
                                Do you have any food allergies, or other dietary requirements? This information will be shared with event caterers should you book a meal ticket for your events.
                            </div>
                        </div>
                        <div class="text-end"><a href="#" class="btn btn-danger me-3" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</a><button class="btn btn-success">Save Changes</button></div>

                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="card shadow py-3 px-3 mb-3 mb-3">
                    <div class="card-header bg-white">
                        <h4>System Information</h4>
                    </div>
                    <div class="accordion accordion-flush py-3 px-3" id="systemSettings">
                        <div class="accordion-item">
                            <h2 class="accordion-header" ">
                                <button style="font-size:1.2rem !important; font-weight:500 !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionLorienTrust" aria-expanded="false" aria-controls="accordionLorienTrust">
                              <img height="60px" src="<%= eventSystems.find(a => a.name = 'Lorien Trust').img %>" alt="">
                            </button>
                            </h2>
                            <div id="accordionLorienTrust" class="accordion-collapse collapse" data-bs-parent="#systemSettings">
                                <div class="card-header bg-white mt-3">
                                    <h6>Player Information</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label for="playerId">Lorien Trust Player ID</label>
                                            <input type="number" id="ltPlayerId" name="lorienTrust[playerId]" value="<%= currentUser.lorienTrust.playerId %>" class="form-control form-control-sm">
                                            <div class="invalid-feedback">
                                                <p>If you do not know your Player ID you can find it in the top right corner of your Lorien Trust Character Card, or by logging into your account on the <a href="https://www.lorientrust.com" class="alert-link">Lorien Trust website</a></p>
                                                <hr>
                                                <p class="mb-0">If you have not attended a Lorien Trust event before, please <a class="alert-link" onclick="document.getElementById('playerId').value = 0;return false;" href="#">click here.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="form-text">The following information is optional, and is not required by any Lorien Trust player. It is likely you may not have some, or any, of this information. Before using any of the below skills, you will be required to provide
                                        valid proof at an event.</p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-4">
                                                <label for="refMarshal">Referee / Marshal Number</label>
                                                <input type="text" class="form-control" name="lorienTrust[refMarshal]" id="refMarshal" value="<%= currentUser.lorienTrust.refMarshal %>">
                                            </div>
                                            <div class="form-check mt-4 mb-3 pt-1">
                                                <label for="firstAid" class="form-check-label">First Aider</label>
                                                <input type="checkbox" class="form-check-input" name="lorienTrust[firstAid]" id="firstAid" <%= currentUser.lorienTrust.firstAid ? 'checked' : '' %>>
                                                <p class="form-text">Minimum 3-day First-at-Work training.</p>
                                            </div>
                                            <div class="form-check">
                                                <label for="mentalFirstAid" class="form-check-label">Mental Health First Aider</label>
                                                <input type="checkbox" class="form-check-input" name="lorienTrust[mentalFirstAid]" id="mentalFirstAid" <%= currentUser.lorienTrust.mentalFirstAid ? 'checked' : '' %>>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check mt-4">
                                                <label for="bowComp" class="form-check-label">Bow Competency</label>
                                                <input type="checkbox" class="form-check-input" name="lorienTrust[bowComp]" id="bowComp" <%= currentUser.lorienTrust.bowComp ? 'checked' : '' %>>
                                                <p class="form-text">Required to use projectile weapons</p>
                                            </div>
                                            <div class="form-check">
                                                <label for="clawComp" class="form-check-label">Claw Competency</label>
                                                <input type="checkbox" class="form-check-input" id="clawComp" name="lorienTrust[clawComp]" <%= currentUser.lorienTrust.clawComp ? 'checked' : '' %>>
                                                <p class="form-text">Required to use claw weapons</p>
                                            </div>
                                            <div class="form-check">
                                                <label for="wepCheck" class="form-check-label">Weapons Checker</label>
                                                <input type="checkbox" class="form-check-input" id="wepCheck" name="lorienTrust[wepCheck]" <%= currentUser.lorienTrust.wepCheck ? 'checked' : '' %>>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header bg-white">
                                    <h6>Character Information</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <label for="authCode" class="form-label">Lorien Trust Character Access Token</label>
                                            <input id="authCode" name="lorienTrust[authCode]" class="form-control form-control-sm" aria-describedby="ltAuthCodeHelpBlock" value="<%= currentUser.lorienTrust.authCode %>">
                                        </div>
                                        <div class="col-3 pt-1">
                                            <a href="#character" onclick="getCharacter()" class="btn btn-success mt-4" role="button">Update</a>
                                        </div>
                                        <div id="ltAuthCodeHelpBlock" class="form-text mb-3">
                                            This code can be obtained from your account on the <a href="https://www.lorientrust.com" class="link-dark">Lorien Trust website</a>.<br>It is not required, and is not shared with event organisers
                                        </div>
                                        <hr>
                                    </div>
                                    <div id="spinnerDiv"></div>
                                    <div id="character">
                                        <div>
                                            <input type="text" style="border:none !important" class="form-control mb-2 text-center fw-bold" placeholder="Character Name" id="ltCharacterName" name="lorienTrust[character][characterName]" value="<%= currentUser.lorienTrust.character.characterName %>">
                                            <div class="invalid-feedback">You must enter a character name</div>
                                        </div>
                                        <h6 id="characterRace" class="text-center">
                                            <%= currentUser.character ? currentUser.lorienTrust.character.race : '' %>
                                        </h6>
                                        <select style="border:none !important" class="mb-2 form-select form-select-sm text-center" name="lorienTrust[character][faction]" id="characterFaction">
                                            <option value="No Faction" <%= currentUser.lorienTrust.character.faction == "No Faction" ? 'selected' : '' %>>No Faction</option>
                                            <option value="Bears" <%= currentUser.lorienTrust.character.faction == "Bears" ? 'selected' : '' %>>Bears</option>
                                            <option value="Dragons" <%= currentUser.lorienTrust.character.faction == "Dragons" ? 'selected' : '' %>>Dragons</option>
                                            <option value="Gryphons" <%= currentUser.lorienTrust.character.faction == "Gryphons" ? 'selected' : '' %>>Gryphons</option>
                                            <option value="Harts" <%= currentUser.lorienTrust.character.faction == "Harts" ? 'selected' : '' %>>Harts</option>
                                            <option value="Jackals" <%= currentUser.lorienTrust.character.faction == "Jackals" ? 'selected' : '' %>>Jackals</option>
                                            <option value="Lions" <%= currentUser.lorienTrust.character.faction == "Lions" ? 'selected' : '' %>>Lions</option>
                                            <option value="Tarantulas" <%= currentUser.lorienTrust.character.faction == "Tarantulas" ? 'selected' : '' %>>Tarantulas</option>
                                            <option value="Unicorns" <%= currentUser.lorienTrust.character.faction == "Unicorns" ? 'selected' : '' %>>Unicorns</option>
                                            <option value="Vipers <%= currentUser.lorienTrust.character.faction == "Vipers" ? 'selected' : '' %>">Vipers</option>
                                            <option value="Wolves" <%= currentUser.lorienTrust.character.faction == "Wolves" ? 'selected' : '' %>>Wolves</option>
                                        </select>
                                        <h6 id="characterGroup" class="text-center">
                                            <%= currentUser.character ? currentUser.lorienTrust.character.groupname : '' %>
                                        </h6>
                                        <div class="row">
                                            <div class="col-6 col-md">
                                                <ul class="list-unstyled" id="characterCS">
                                                    <% if (currentUser.character) { for (var i=0; i < currentUser.lorienTrust.character.characterSkills.length; i++){ %>
                                                        <li class="small">
                                                            <%= currentUser.lorienTrust.character.characterSkills[i].name %>
                                                        </li>
                                                        <% } %>

                                                            <br>
                                                            <% for (var i=0; i < currentUser.lorienTrust.character.occupationalSkills.length;i++){ if (currentUser.lorienTrust.character.occupationalSkills[i].script) { %>
                                                                <li class="small">
                                                                    <%= currentUser.lorienTrust.character.occupationalSkills[i].name %>
                                                                </li>
                                                                <% }}} %>
                                                </ul>
                                            </div>
                                            <div class="col-6 col-md">
                                                <ul class="list-unstyled" id="characterOS">
                                                    <% if (currentUser.character) { for (var i=0; i < currentUser.lorienTrust.character.occupationalSkills.length;i++){ if (!currentUser.lorienTrust.character.occupationalSkills[i].script) { %>
                                                        <li class="small">
                                                            <%= currentUser.lorienTrust.character.occupationalSkills[i].name %>
                                                        </li>
                                                        <% }}} %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Account?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                    <p>This will hide your details from any events you have previously booked for, and delete all your personal data.</p>
                    <p><i>This can not be undone. You would need to register a new account to book any events</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/account?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete Account</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="js/account.js"></script>