<% layout('layouts/boilerplate') %>
<% const dayNames = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
function toTitleCase(str) {
if (typeof str == 'undefined') return '';
return str.replace(/\w\S*/g, function(txt){
    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
});
}; %>
<script src="https://cdn.tiny.cloud/1/9rpfmnglpt10wzitgh0d0zn5ru3343oti9q4hfwl9of7mwpu/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb small">
    <li class="breadcrumb-item"><a href="/admin/events/<%= currentUser.role == 'eventHost' ? '' : 'all' %>" class="link-dark">Manage Events</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= event.name %>
    </li>
  </ol>
</nav>
<div class="card shadow py-3 px-3">
  <div class="card-header mb-3 bg-white row">
    <% if (event.img.url || event.eventHost.img.url) { %>
    <div class="d-none d-md-block col-md-2 mb-2">
      <div class="img align-middle text-center">
        <img id="eventImg" <% if (event.img.url) {%> aria-label="event-logo" <% } %> title="Hosted By <%= event.eventHost.name %>" class="rounded event-logo" src="<%= typeof event.img.url === 'undefined' ? event.eventHost.img.url : event.imgThumbnail %>" class="img-fluid rounded-start py-3 px-3" alt="...">
      </div>
    </div>
    <% } %>
    <div class="col">
      <h2>
        <a href="/events/<%= event._id %>" class="link-dark">
          <%= event.name %> <% if (event.eventHost.eventSystem.img?.url) { %> <% } %>
        </a><br />
        <img height="60px" style="top:-20px" src="<%= event.eventHost.eventSystem.img.url %>" alt="">
        <%- event.cancelled ? '<span class="text-danger"><small>Cancelled</small></span>' : '' %>
      </h2>
      <a class="small" target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= encodeURI(event.location) %>">
        <%= event.location %>
      </a><br>
      <span class="small">
        <%= dateOutput(event.eventStart) %>
				<% if (dateOutput(event.eventStart) != dateOutput(event.eventEnd)) { %> to
				<%= dateOutput(event.eventEnd) %>
				<% } %></span><br>

      <a class="link-dark small" href="/admin/events/<%= event._id %>/edit"><i class="bi bi-pencil-square pe-2"></i>Edit Event</a>
    </div>
    <div class="col col-md-3 text-end">
      <div class="btn-group-vertical" role="group">
        <% if (event.eventEnd > archiveDate) { %>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cateringModal">
          <i class="fa fa-cutlery me-1" aria-hidden="true"> </i> Catering
        </button>
        <% } else { %>
          <button class="btn btn-secondary" disabled>Event Archived</button>
        <% } %>
        <div class="btn-group">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-envelope-at"></i> E-mail
          </a>

          <ul class="dropdown-menu text-end">
            <% if (event.eventEnd > archiveDate) { %>
            <li><a class="dropdown-item" title="Information for your event attendees" href="" data-bs-toggle="modal" data-bs-target="#eventPackModal">Send Event Pack</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <% } %>
            <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#customEmailModal">Custom E-mail</a></li>
          </ul>
        </div>
        <% if (event.eventEnd > archiveDate) { %>
        <div class="btn-group">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-receipt"></i> Event Reports
          </a>

          <ul class="dropdown-menu text-end">
            <li><a class="dropdown-item" href="/admin/events/<%= event._id %>/print/signin">Sign In Sheet</a></li>
            <li><a class="dropdown-item" title="Includes a cover page for your attendee's privacy" href="/admin/events/<%= event._id %>/print/attendees">Attendees Report</a></li>
            <li><a class="dropdown-item" title="Includes a cover page for your attendee's privacy" href="/admin/events/<%= event._id %>/print/medical">Medical Details</a></li>
            <li><a class="dropdown-item" title="Includes a cover page for your attendee's privacy" href="/admin/events/<%= event._id %>/print/dietary">Dietary Details</a></li>
            <li><a class="dropdown-item" title="Information for your event attendees" href="" data-bs-toggle="modal" data-bs-target="#eventPackModal">Event Pack</a></li>
            <% if (event.eventHost.eventSystem.systemRef == 'lorienTrust') { %>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/admin/events/<%= event._id %>/print/pid">Player IDs CSV</a></li>
            <% } %>
          </ul>
        </div>
        
        <div class="btn-group">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-ticket-detailed"></i> Bookings
          </a>

          <ul class="dropdown-menu text-end">
            <li><a class="dropdown-item" title="This will require you to know their e-mail address and for them to have an active account" href="/events/<%= event._id %>/book?alt=true">Add Booking</a></li>
            <li><a href="/events/<%= event._id %>/book?alt=true&manual=true" class="dropdown-item" title="This option should only be used if the player does not have a booking account"><i>Add Manual Booking</i></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a href="/admin/events/<%= event._id %>/waitinglist" class="dropdown-item">View Unpaid & Waiting List</a></li>
          </ul>
        </div>
        <% } %>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="accordion accordion-flush mb-3" id="accordionFinance">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFinance">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFinance" aria-expanded="true" aria-controls="collapseFinance">
            View Financial Summary
          </button>
        </h2>
      </div>
      <div id="collapseFinance" class="accordion-collapse collapse" aria-labelledby="headingFinance" data-bs-parent="#accordionFinance">
        <div class="accordion-body">
          <% let totalBookings = 0; 
              let totalPaid = 0;
              let totalFees = 0;
              let totalMeal = 0;
      
              let projectedPlayerTickets = 0;
              projectedPlayerTickets += event.eventTickets.find(t => ['player'].includes(t.ticketType)) ? event.eventTickets.find(t => ['player'].includes(t.ticketType)).cost * event.limits.playerLimit : 0;
              let projectedMealTickets = 0; 
              projectedMealTickets += event.eventTickets.find(t => ['mealticket'].includes(t.ticketType)) ? event.eventTickets.find(t => ['mealticket'].includes(t.ticketType)).cost * (event.limits.playerLimit + event.limits.monsterLimit + event.limits.staffLimit) : 0;
              let projectedFees = 0;
              projectedFees = ((((projectedPlayerTickets + projectedMealTickets) / 100) * event.eventHost.paypalPercentage) + (event.eventHost.paypalFixedFee * (event.limits.playerLimit)));
              let ticketCost = event.eventTickets.find(t => ['player'].includes(t.ticketType)) ? ((event.eventTickets.find(t => ['player'].includes(t.ticketType)).cost / event.eventHost.paypalPercentage) - event.eventHost.paypalFixedFee) : 0;
              let breakevenPlayers = Math.ceil(Object.values(event.financials).reduce((a,b) => a + b,0) / ticketCost) + 1;
              for (eventBooking of eventBookings){
                  totalBookings += eventBooking.eventTickets.reduce((acc, a) => acc + a.cost, 0);
                  totalMeal += eventBooking.eventTickets.find(t => ['mealticket','mealticketchild'].includes(t.ticketType)) ? eventBooking.eventTickets.find(t => ['mealticket','mealticketchild'].includes(t.ticketType)).cost : 0;
                  let tmpPaid = eventBooking.totalPaid;
                  totalPaid += tmpPaid;
                  totalFees += eventBooking.paypalPaymentId ? (((tmpPaid / 100) * event.eventHost.paypalPercentage) + event.eventHost.paypalFixedFee) : 0;
              } %>
          <div class="row">
            <div class="col">
              <h5>Income</h5>
              <table class="table table-hover table-sm">
                <tr>
                  <td>Total Expected:</td>
                  <td class="text-end">
                    <%= currencyOutput(totalBookings) %>
                  </td>
                </tr>
                <tr>
                  <td>Total Paid:</td>
                  <td class="text-end">
                    <%= currencyOutput(totalPaid) %>
                  </td>
                </tr>
                <tr>
                  <td>Total Due:</td>
                  <td class="text-end" title="Bookings that have yet to pay">
                    <%= currencyOutput(totalBookings - totalPaid) %>
                  </td>
                </tr>
                <tr>
                  <td><b>Total Income:</b></td>
                  <td class="text-end"><b><%= currencyOutput(totalPaid - totalFees) %></b></td>
                </tr>
              </table>
            </div>
            <div class="col">
              <h5>Expenses</h5>
              <table class="table table-hover table-sm">
                <% if (event.registrationFee.value > 0) { %>
                  <tr>
                    <td>Registration Fee:</td>
                    <td class="text-end">
                      <%= currencyOutput(event.registrationFee.value) %>
                    </td>
                  </tr>
                <% } %>
                <% if (event.financials.siteFee > 0) {%>
                <tr>
                  <td>Site Fee:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.siteFee) %>
                  </td>
                </tr>
                <% } %>
                <% if (event.financials.insurance > 0) {%>
                <tr>
                  <td>Insurance:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.insurance) %>
                  </td>
                </tr>
                <% } %>
                <% if (event.financials.sanctioningFee > 0){ %>
                <tr>
                  <td>Sanctioning Fee:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.sanctioningFee) %>
                  </td>
                </tr>
                <% } %>
                <% if (event.financials.props > 0) {%>
                <tr>
                  <td>Props & Costume:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.props) %>
                  </td>
                </tr>
                <% } %>
                <% if (event.financials.admin > 0) { %>
                <tr>
                  <td>Admin Costs:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.admin) %>
                  </td>
                </tr>
                <% } %>
                <tr>
                  <td>Total Paypal Fees:</td>
                  <td class="text-end" title="<%= event.eventHost.paypalPercentage %>% + <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(event.eventHost.paypalFixedFee) %> for each transaction">
                    <%= currencyOutput(totalFees) %>
                  </td>
                </tr>
                <% if (totalMeal > 0) { %>
                <tr>
                  <td>Meal Tickets:</td>
                  <td class="text-end">
                    <%= currencyOutput(totalMeal) %>
                  </td>
                </tr>
                <% } %>
                <% if(event.financials.otherCosts > 0) { %>
                <tr>
                  <td>Other Costs:</td>
                  <td class="text-end">
                    <%= currencyOutput(event.financials.otherCosts) %>
                  </td>
                </tr>
                <% } %>
                <tr>
                  <td><b>Total Expenses:</b></td>
                  <td class="text-end"><b><%= currencyOutput(Object.values(event.financials).reduce((a,b) => a + b,0) + totalFees + totalMeal + event.registrationFee.value) %></b></td>
                </tr>
              </table>
            </div>
            <div class="col">
              <h5>Profit & Loss</h5>
              <table class="table table-hover table-sm">
                <tr title="Not including PayPal Fees or Meal Tickets">
                  <td>Expenses:</td>
                  <td class="text-end">
                    <%= currencyOutput(Object.values(event.financials).reduce((a,b) => a + b,0) + event.registrationFee.value + totalFees) %>
                  </td>
                </tr>
                <tr title="Minus PayPal Fees, including Meal Tickets">
                  <td>Current Income:</td>
                  <td class="text-end">
                    <%= currencyOutput(totalBookings - totalFees) %>
                  </td>
                </tr>
                <tr class="<%= (totalBookings - totalFees - (Object.values(event.financials).reduce((a,b) => a + b,0))) > 0 ? 'table-success' : 'table-danger' %>">
                  <td><b>Current Balance:</b></td>
                  <td class="text-end"><b><%= currencyOutput(totalBookings - totalFees - (Object.values(event.financials).reduce((a,b) => a + b,0)) - event.registrationFee.value ) %></b></td>
                </tr>
                <tr title="<%= event.limits.playerLimit %> Player Tickets<%= event.eventTickets.find(t => ['mealticket'].includes(t.ticketType)) ? `${event.limits.playerLimit + event.limits.monsterLimit + event.limits.staffLimit}  + Meal Tickets` : '' %>">
                  <td>Projected Income:</td>
                  <td class="text-end">
                    <%= currencyOutput(projectedPlayerTickets + projectedMealTickets) %>
                  </td>
                </tr>
                <% if (event.eventTickets.find(t => ['mealticket'].includes(t.ticketType))) { %>
                <tr title="<%= event.limits.playerLimit + event.limits.monsterLimit + event.limits.staffLimit %> Meal Tickets">
                  <td>Projected Meal Tickets:</td>
                  <td class="text-end">
                    <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(projectedMealTickets) %>
                  </td>
                </tr>
                <% } %>
                <tr title="<%= event.limits.playerLimit %> Player Tickets<%= event.eventTickets.find(t => ['mealticket'].includes(t.ticketType)) ? `${event.limits.playerLimit + event.limits.monsterLimit + event.limits.staffLimit}  + Meal Tickets` : '' %>">
                  <td>Projected PayPal Fees:</td>
                  <td class="text-end">
                    <%= currencyOutput(projectedFees) %>
                  </td>
                </tr>
                <tr class="<%= (projectedPlayerTickets - projectedFees - (Object.values(event.financials).reduce((a,b) => a + b,0))) > 0 ? 'table-success' : 'table-danger' %>">
                  <td><b>Projected Balance:</b></td>
                  <td class="text-end"><b><%= currencyOutput(projectedPlayerTickets - projectedFees - event.registrationFee.value - (Object.values(event.financials).reduce((a,b) => a + b,0))  ) %></b>
                  </td>
                </tr>
              </table>
              <div class="form-text">Projected figures only take into account the first player ticket value. Please note these figures are <em>advisory only.</em></div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div id="bookinglist" class="row">
      <% if (event.limits.playerLimit > 0){ %>
      <div class="col">
        <h5 class="text-center">Player Bookings</h5>
        <div class="progress">
          <div class="progress-bar overflow-visible progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= event.limits.playerLimit - event.playerSpaces %>" aria-valuemin="0" aria-valuemax="<%= event.limits.playerLimit %>" style="width: 75%"></div>
          <div title="Breakeven at <%= breakevenPlayers %> players" class="progress-bar-marker" role="progressbar" style="width: <%= ((100 * breakevenPlayers) / event.limits.playerLimit) - (100 * (event.limits.playerLimit - event.playerSpaces) / event.limits.playerLimit)   %>%" aria-valuenow="46.573611111111106" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="text-center lead mb-0">
          <%= event.limits.playerLimit - event.playerSpaces %> /
          <%= event.limits.playerLimit %>
        </p>
        <% if (event.limits.playerBunkLimit > 0) { %>
        <p class="text-center small">(Bunks:
          <%= event.limits.playerBunkLimit - event.playerBunkSpaces %> /
          <%= event.limits.playerBunkLimit %> )</p>
        <% } %>

      </div>
      <% } %>
      <% if (event.limits.monsterLimit > 0){ %>
      <div class="col">
        <h5 class="text-center">Monster Bookings</h5>
        <div class="progress">
          <div class="progress-bar overflow-visible progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="<%= event.limits.monsterLimit - event.monsterSpaces %>" aria-valuemin="0" aria-valuemax="<%= event.limits.monsterLimit %>" style="width: 75%"></div>
        </div>
        <p class="text-center lead">
          <%= event.limits.monsterLimit - event.monsterSpaces %> /
          <%= event.limits.monsterLimit %>
        </p>
        <% if (event.limits.monsterBunkLimit > 0) { %>
        <p class="text-center small">(Bunks:
          <%= event.limits.monsterBunkLimit - event.monsterBunkSpaces %> /
          <%= event.limits.monsterBunkLimit %> )</p>
        <% } %>

      </div>
      <% } %>
      <% if (event.limits.staffLimit > 0){ %>
      <div class="col">
        <h5 class="text-center">Staff Bookings</h5>
        <div class="progress">
          <div class="progress-bar overflow-visible progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="<%= event.limits.staffLimit - event.staffSpaces %>" aria-valuemin="0" aria-valuemax="<%= event.limits.staffLimit %>" style="width: 75%"></div>
        </div>
        <p class="text-center lead">
          <%= event.limits.staffLimit - event.staffSpaces %> /
          <%= event.limits.staffLimit %>
        </p>
        <% if (event.limits.staffBunkLimit > 0) { %>
        <p class="text-center small">(Bunks:
          <%= event.limits.staffBunkLimit - event.staffBunkSpaces %> /
          <%= event.limits.staffBunkLimit %> )</p>
        <% } %>

      </div>
      <% } %>
    </div>
    <div class="row">
      <% if (event.limits.playerLimit > 0){ %>
      <div class="col-md">
        <h5 class="d-inline-block d-md-none">Player Bookings</h5>
        <table id="playerBookings" class="table table-sm table-hover mt-3 players">
          <thead>
            <th class="players" scope="col">
              <div class="row">
                <div class="col-auto">Name</div>
                <div class="col"><input id="playerSearch" type="text" class="form-control form-control-sm pe-3" placeholder="Search..."></div>
              </div>
            </th>
            <th scope="col-1">Paid</th>
            <th scope="col-1"></th>
          </thead>
          <tbody class="players">
            <% for (booking of eventBookings.filter( b => b.eventTickets.find(t => ['player','playerchild'].includes(t.ticketType) && (event.eventEnd > archiveDate || b.bookingPaid))).sort((a,b) => ('' + a.surname).localeCompare(b.surname) || ('' + a.firstname).localeCompare(b.firstname))) { %>
            <tr class="players">
              <td scope="row"><span class="me-3"><%= booking.surname %>, <%= booking.firstname %></span>
                <% if (booking._doc.eventTickets.find(t => t.ticketType == 'playerbunk')) { %> <i class="fa fa-bed me-1" title="Bunk Requested" aria-hidden="true"> </i>
                <% } %>
                <% if (booking._doc.eventTickets.find(t => ['mealticket','mealticketchild'].includes(t.ticketType))) { %> <i class="fa fa-cutlery me-1" title="Meal Ticket Requested" aria-hidden="true"> </i>
                <% } %>
              </td>
              <td scope="row">
                <% if (booking.paid){ %>
                <% if (booking.paypalPaymentId) { %>
                <i class="bi bi-paypal text-primary" title="Payment ID: <%= booking.paypalPaymentId %> <%= dateOutput(booking.bookingPaid) %>"></i>
                <% } else {%>
                <i class="bi bi-cash text-success" title="Manual payment <% dateOutput(booking.bookingPaid) %>"></i>
                <% }} else if (booking.payOnGate) { %>
                <i class="bi bi-door-open-fill"></i>
                <% } else if (booking.inQueue){ %>
                <i class="bi bi-person-lines-fill text-primary"></i>
                <% } else { %>
                <i class="bi bi-x-circle text-danger"></i>
                <% } %>
              </td>
              <td scope="row"><a class="link-dark" href="/admin/bookings/<%=booking._id %>"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>
      <% if (event.limits.monsterLimit > 0){ %>
      <div class="col-md">
        <h5 class="d-inline-block d-md-none">Monster Bookings</h5>
        <table id="monsterBookings" class="table table-sm table-hover mt-3 monsters">
          <thead>
            <th class="monsters" scope="col">
              <div class="row">
                <div class="col-auto">Name</div>
                <div class="col"><input id="monsterSearch" type="text" class="form-control form-control-sm pe-3" placeholder="Search..."></div>
              </div>
            </th>
            <th scope="col-1">Paid</th>
            <th scope="col-1"></th>
          </thead>
          <tbody class="monsters">
            <% for (booking of eventBookings.filter( b => b.eventTickets.find(t => ['monster','monsterchild'].includes(t.ticketType)  && (event.eventEnd > archiveDate || b.bookingPaid))).sort((a,b) => ('' + a.surname).localeCompare(b.surname) || ('' + a.firstname).localeCompare(b.firstname))) {%>
            <tr class="monsters">
              <td scope="row"><span class="me-3"><%= booking.surname %>, <%= booking.firstname %></span>
                <% if (booking._doc.eventTickets.find(t => t.ticketType == 'monsterbunk')) { %> <i class="fa fa-bed me-1" title="Bunk Requested" aria-hidden="true"> </i>
                <% } %>
                <% if (booking._doc.eventTickets.find(t => ['mealticket','mealticketchild'].includes(t.ticketType))) { %> <i class="fa fa-cutlery me-1" title="Meal Ticket Requested" aria-hidden="true"> </i>
                <% } %>
              </td>
              <td scope="row">
                <% if (booking.paid){ %>
                <% if (booking.paypalPaymentId) { %>
                <i class="bi bi-paypal text-primary" title="Payment ID: <%= booking.paypalPaymentId %> <%= dateOutput(booking.bookingPaid) %>"></i>
                <% } else {%>
                <i class="bi bi-cash text-success" title="Manual payment <% dateOutput(booking.bookingPaid) %>"></i>
                <% }} else if (booking.payOnGate) { %>
                <i class="bi bi-door-open-fill"></i>
                <% } else if (booking.inQueue){ %>
                <i class="bi bi-person-lines-fill text-primary"></i>
                <% } else { %>
                <i class="bi bi-x-circle text-danger"></i>
                <% } %>
              </td>
              <td scope="row"><a class="link-dark" href="/admin/bookings/<%=booking._id %>"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>
      <% if (event.limits.staffLimit > 0){ %>
      <div class="col-md">
        <h5 class="d-inline-block d-md-none">Staff Bookings</h5>
        <table id="staffBookings" class="table table-sm table-hover mt-3 staff">
          <thead>
            <th class="staff" scope="col">
              <div class="row">
                <div class="col-auto">Name</div>
                <div class="col"><input id="staffSearch" type="text" class="form-control form-control-sm pe-3" placeholder="Search..."></div>
              </div>
            </th>
            <th scope="col-1">Paid</th>
            <th scope="col-1"></th>
          </thead>
          <tbody class="staff">
            <% for (booking of eventBookings.filter( b => b.eventTickets.find(t => ['staff'].includes(t.ticketType)  && (event.eventEnd > archiveDate || b.bookingPaid))).sort((a,b) => ('' + a.surname).localeCompare(b.surname) || ('' + a.firstname).localeCompare(b.firstname))) {%>
            <tr class="staff">
              <td scope="row"><span class="me-3"><%= booking.surname %>, <%= booking.firstname %></span>
                <% if (booking._doc.eventTickets.find(t => t.ticketType == 'staffbunk')) { %> <i class="fa fa-bed me-1" title="Bunk Requested" aria-hidden="true"> </i>
                <% } %>
                <% if (booking._doc.eventTickets.find(t => ['mealticket','mealticketchild'].includes(t.ticketType))) { %> <i class="fa fa-cutlery me-1" title="Meal Ticket Requested" aria-hidden="true"> </i>
                <% } %>
              </td>
              <td scope="row">
                <% if (booking.paid){ %>
                <% if (booking.paypalPaymentId) { %>
                <i class="bi bi-paypal text-primary" title="Payment ID: <%= booking.paypalPaymentId %> <%= dateOutput(booking.bookingPaid) %>"></i>
                <% } else {%>
                <i class="bi bi-cash text-success" title="Manual payment <% dateOutput(booking.bookingPaid) %>"></i>
                <% }} else if (booking.payOnGate) { %>
                <i class="bi bi-door-open-fill"></i>
                <% } else if (booking.inQueue){ %>
                <i class="bi bi-person-lines-fill text-primary"></i>
                <% } else { %>
                <i class="bi bi-x-circle text-danger"></i>
                <% } %>
              </td>
              <td scope="row"><a class="link-dark" href="/admin/bookings/<%=booking._id %>"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="modal fade" id="eventPackModal" tabindex="-1" aria-labelledby="eventPackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventPackModalLabel">Event Pack Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Use this form to generate your own event pack with all the vital information your attendees will need.</p>
        <form id="eventPackForm" action="/admin/events/<%= event._id %>/print/eventPack" method="POST" novalidate class="validated-form">
          <h5>Arrival & Departure</h5>
          <div class="row mb-3">
            <div class="col-6 col-md-4">
              <label for="arrivalTime">Arrival Time</label>
              <input class="form-control" required type="time" name="returnPack[arrivalDeparture][arrivalTime]" id="arrivalTime" value="<%= event.returnPack.arrivalDeparture.arrivalTime %>">
            </div>
            <div class="col-6 col-md-4">
              <label for="departureTime">Departure Time</label>
              <input class="form-control" required type="time" name="returnPack[arrivalDeparture][departureTime]" id="departureTime" value="<%= event.returnPack.arrivalDeparture.departureTime %>">
            </div>
            <div class="form-text">When can your event attendees arrive and when do they need to leave?</div>
          </div>
          <div class="mb-3">
            <label for="arrivalNotes">Notes</label>
            <textarea class="form-control" name="returnPack[arrivalDeparture][notes]" id="arrivalNotes" cols="30" rows="3"><% event.returnPack.arrivalDeparture.notes %></textarea>
            <div class="form-text">Are there any other notes for or advice for attendees for their arrival or departure? e.g. Gates are locked after a certain time?</div>
          </div>
          <hr>
          <h5>Time In & Out</h5>
          <div class="row mb-3">
            <div class="col-6 col-md-4">
              <label for="arrivalTimeIn">First Time In</label>
              <input class="form-control" required type="time" name="returnPack[timeInOut][arrivalTimeIn]" id="arrivalTimeIn" value="<%= event.returnPack.timeInOut.arrivalTimeIn %>">
            </div>
            <div class="col-6 col-md-4">
              <label for="departureTimeOut">Final Time Out</label>
              <input class="form-control" required type="time" name="returnPack[timeInOut][departureTimeOut]" id="departureTimeOut" value="<%= event.returnPack.timeInOut.departureTimeOut %>">
            </div>
            <div class="form-text">When can your event attendees except Time In to start and end for your event overall?</div>
          </div>
          <% if (dateOutput(event.eventStart) != dateOutput(event.eventEnd))  { %>
            <div class="row mb-3">
              <div class="col-6 col-md-4">
                <label for="dailyTimeIn">Daily Time In</label>
                <input class="form-control" required type="time" name="returnPack[timeInOut][dailyTimeIn]" id="dailyTimeIn" value="<%= event.returnPack.timeInOut.dailyTimeIn %>">
              </div>
              <div class="col-6 col-md-4">
                <label for="dailyTimeOut">Daily Time Out</label>
                <input class="form-control" required type="time" name="returnPack[timeInOut][dailyTimeOut]" id="dailyTimeOut" value="<%= event.returnPack.timeInOut.dailyTimeOut %>">
              </div>
              <div class="form-text">When can your event attendees except Time In to start and end for each day of your event?</div>
            </div>
          <% } %>
          <hr>
          <div class="mb-3">
            <h5>Event Staff</h5>
            <table class="table table-hover">
              <thead>
                <th>Position</th>
                <th>Staff</th>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle">Game Operations / Logistics</td>
                  <td><input type="text" class="form-control form-control-sm" name="returnPack[eventStaff][gameOperations]" value="<%= event.returnPack.eventStaff.gameOperations %>"></td>
                </tr>
                <tr>
                  <td class="align-middle">Plot Actuation</td>
                  <td><input type="text" class="form-control form-control-sm" name="returnPack[eventStaff][plotActuation]" value="<%= event.returnPack.eventStaff.plotActuation %>"></td>
                </tr>
                <tr>
                  <td class="align-middle">Plot Team</td>
                  <td><input type="text" class="form-control form-control-sm" name="returnPack[eventStaff][plotTeam]" value="<%= event.returnPack.eventStaff.plotTeam %>"></td>
                </tr>
                <tr>
                  <td class="align-middle">Referees</td>
                  <td><input type="text" class="form-control form-control-sm" name="returnPack[eventStaff][referees]" value="<%= event.returnPack.eventStaff.referees %>"></td>
                </tr>
                <tr>
                  <td class="align-middle">First Aid</td>
                  <td><input type="text" class="form-control form-control-sm" name="returnPack[eventStaff][firstAid]" value="<%= event.returnPack.eventStaff.firstAid %>"></td>
                </tr>
              </tbody>
            </table>
            <div class="form-text">Any fields left blank will be omitted from the event pack.</div>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="parkingSwitch" <%= event.returnPack.parking ? 'checked' : '' %>>
              <label class="form-check-label text-muted" for="parkingSwitch"><h5>Parking Instructions</h5></label>
            </div>
            <textarea style="transition: all 1s; " class="form-control <%= !event.returnPack.parking ? 'd-none' : '' %>"  name="returnPack[parking]" id="parking" <%= !event.returnPack.parking ? 'disabled' : '' %> cols="30" rows="0"><%= event.returnPack.parking %></textarea>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="campingSwitch" <%= event.returnPack.camping ? 'checked' : '' %>>
              <label class="form-check-label text-muted" for="campingSwitch"><h5>Camping Instructions</h5></label>
            </div>
            <textarea class="form-control <%= !event.returnPack.camping ? 'd-none' : '' %>" name="returnPack[camping]" id="camping" <%= !event.returnPack.camping ? 'disabled' : '' %> cols="30" rows="3"><%= event.returnPack.camping %></textarea>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="bunkSwitch" <%= event.returnPack.bunks ? 'checked' : '' %>>
              <label class="form-check-label text-muted" for="bunkSwitch"><h5>Bunk Room's</h5></label>
            </div>
            <textarea class="form-control <%= !event.returnPack.bunks ? 'd-none' : '' %>" name="returnPack[bunks]" id="bunks" <%= !event.returnPack.bunks ? 'disabled' : '' %> cols="30" rows="3"><%= event.returnPack.bunks %></textarea>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="notesSwitch" <%= event.returnPack.otherNotes ? 'checked' : '' %>>
              <label class="form-check-label text-muted" for="notesSwitch"><h5>Other Notes</h5></label>
            </div>
            <textarea class="form-control <%= !event.returnPack.otherNotes ? 'd-none' : '' %>" name="returnPack[otherNotes]" id="notes" <%= !event.returnPack.otherNotes ? 'disabled' : '' %> cols="30" rows="3"><%= event.returnPack.otherNotes %></textarea>
          </div>
        </form>
        <div id="spinnerDiv"></div>
      </div>
      <div class="modal-footer">
        <button id="eventPackModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary" onclick="eventPackDownload()"><i class="bi bi-filetype-pdf"></i> Save & Download</button>
          <button type="button" class="btn btn-primary" onclick="eventPackEmail()"><i class="bi bi-envelope-at"></i> Save & Email</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="customEmailModal" tabindex="-1" aria-labelledby="customEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="customEmailModalLabel">E-mail Event Attendees</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="customEmailForm" action="/admin/events/<%= event._id %>/email" method="POST">
          <div class="mb-3">
            <label for="subject" class="form-label">E-mail Subject</label>
            <div class="input-group">
              <span class="input-group-text" id="subjectName"><%= event.name %> - </span>
              <input type="text" class="form-control" id="subject" name="subject" aria-describedby="subjectName subjectDescription" required>
            </div>
            <div class="form-text" id="subjectDescription">Please enter a subject for your e-mail</div>
          </div>
          <div class="mb-3">
            <label for="message">E-mail Message</label>
            <textarea class="form-control" name="message" id="message" cols="30" rows="10"></textarea>
          </div>
        </form>
        <div id="spinnerDivEmail"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="customEmail()"><i class="bi bi-envelope-at"></i> Send E-mail</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cateringModal" tabindex="-1" aria-labelledby="cateringModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cateringModalLabel">Catering Choices</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="cateringForm" action="/admin/events/<%= event._id %>/catering" method="POST">
          <div class="form-text mb-3">
            Updating this form will share the catering choices on the event page, and allow attendees to make selections (if required).
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="catererName">Caterer</label>
              <input type="text" class="form-control" id="catererName" name="catering[caterer]" value="<%= event.catering.caterer %>">
            </div>
            <div class="col">
              <label for="catererContact">Contact</label>
              <input type="text" class="form-control" id="catererContact" name="catering[catererContact]" value="<%= event.catering.catererContact %>" placeholder="Phone/E-mail Address">
            </div>
            <div class="col">
              <div class="form-check form-switch mt-md-4">
                <label class="form-check-label" for="cateringDisplay">Display</label>
                <input class="form-check-input" type="checkbox" role="switch" id="cateringDisplay" name="catering[display]" <%= event.catering.display ? 'checked' : '' %>>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="message">Catering Notes</label>
            <textarea class="form-control" name="catering[notes]" id="cateringNotes" cols="30" rows="10"><%= event.catering.notes %></textarea>
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="cateringRequired"><h4>Menu Choices Require Selection</h4></label>
            <input class="form-check-input" type="checkbox" role="switch" id="cateringRequired" name="catering[choiceRequired]" <%= event.catering.choiceRequired ? 'checked' : '' %>>
          </div>
          <hr class="mt-0">
          <div class="row">
          <% for (var d = new Date(event.eventStart); d <= new Date(event.eventEnd); d.setDate(d.getDate() + 1)) { %>
            <div class="col">
                <div class="text-center"><%=  dayNames[new Date(d).getDay()] %></div>
                <div id="meals<%=  dayNames[new Date(d).getDay()] %>">
                  <% const catering = JSON.parse(JSON.stringify(event.catering)) %>
                  <% if (catering?.menu) { %>
                  <% for (meal of Object.keys(catering?.menu[dayNames[new Date(d).getDay()]]?.meals)) { %>
                    <div id="meals<%= meal %>" class="my-3">
                      <div>
                        <input type="text" class="form-control" name="catering[menu][<%= dayNames[new Date(d).getDay()] %>][meals][<%= meal %>][name]" placeholder="Breakfast, Lunch, Dinner, etc..." value="<%= catering.menu[dayNames[new Date(d).getDay()]]?.meals[meal].name %>">
                      </div>
                      <div id="options<%= meal %>" class="ms-4">
                        <% for (option of catering.menu[dayNames[new Date(d).getDay()]]?.meals[meal].options){ %>
                          <% let optionId = Date.now().toString(36) + Math.random().toString(36).substr(2); %>
                          <div id="<%= optionId %>" class="input-group">
                            <a href="#" class="link-danger input-group-text" onclick="delMealOption('options<%=meal %>','<%= optionId %>')"><i class="bi bi-trash3-fill"></i></a>
                            <input class="form-control form-control-sm" name="catering[menu][<%= dayNames[new Date(d).getDay()] %>][meals][<%= meal %>][options]" placeholder="Food option (V,GF)" value="<%= option %>">
                          </div>
                          
                        <% } %>
                      </div>
                      <div class="row">
                        <div class="col">
                          <a href="#" class="link-dark mt-0" onclick="addMealOption('options<%= meal %>','<%=  dayNames[new Date(d).getDay()] %>','<%= meal %>')">Add Meal Option</a>
                        </div>
                        <div class="col-3 text-end">
                          <a href="#" class="link-danger mt-0" onclick="delMeal('meals<%=  dayNames[new Date(d).getDay()] %>','meals<%= meal %>')">Delete</a>
                        </div>
                      </div>
                    </div>
                  <% }} %>
                </div>
                <div class="d-grid gap-2 mt-3 me-2">
                  <a href="#" class="btn btn-outline-primary" onclick="addMeal('<%= dayNames[new Date(d).getDay()] %>')">Add A Meal</a>
                </div>
            </div>
            <% } %>
          </div>
        </form>
        <div id="spinnerDivEmailCatering"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary" title="This will display the catering choices on the event page" onclick="document.getElementById('cateringForm').submit()">Save</button>
          <button type="button" class="btn btn-primary" onclick=""><i class="bi bi-envelope-at"></i> Save & Email</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/manageEvent.js"></script>
<script src="/js/tinymce.js"></script>