<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b><%= booking.event.name %></b> </h2>
<p align="center" style="margin-top: 0;">
  <%= new Date(booking.event.eventStart).toLocaleDateString() %>
  <% if (new Date(booking.event.eventStart).toLocaleDateString() != new Date(booking.event.eventEnd).toLocaleDateString()) { %> to
  <%= new Date(booking.event.eventEnd).toLocaleDateString() %>
  <% } %>
</p>
<p style="margin-bottom:0;">Thank you for booking the event! You have booked the following event tickets</p>
<ul style="margin-top:0;">
  <% for (ticket of booking.eventTickets) { %>
  <li>
    <%= ticket.description %>
  </li>
  <% } %>
</ul>
<p><a href="<%= rootUrl %>/events/<%= booking.event._id %>">View Info for <%= booking.event.name %></a></p>
<p>To secure your booking please pay as soon as possible</p>
<p>
  <a href="<%= rootUrl %>/account/pay/<%= booking._id %>">Pay here!</a>
</p>