<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b><%= event.name %></b> </h2>
<p align="center" style="margin-top: 0;">
  <%= dateOutput(event.eventStart) %>
  <% if (dateOutput(event.eventStart) != dateOutput(event.eventEnd)) { %> to
  <%= dateOutput(event.eventEnd) %>
  <% } %>
</p>
<p style="margin-bottom:0;">This is your receipt for
  <%= event.name %>.</p>
<p style="margin-bottom:0;">The registration fee of <%= currencyOutput(event.registrationFee.value) %> has been paid by <%= event.registrationFee.paypalPayer %></p>
<p><a href="<%= rootUrl %>/admin/events/<%= event._id %>/edit">Click here to edit <%= event.name %></a></p>
<p><a href="<%= rootUrl %>/admin/events/<%= event._id %>/manage">Click here to manage <%= event.name %></a></p>