<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b><%= event.name %> <span style="color:red;">Cancelled</span></b> </h2>
<p align="center" style="margin-top: 0;">
  <%= dateOutput(event.eventStart) %>
  <% if (dateOutput(event.eventStart) != dateOutput(event.eventEnd)) { %> to
  <%= dateOutput(event.eventEnd) %>
  <% } %>
</p>
<p style="margin-bottom:0;">We are sorry to inform you that
  <%= event.name %> has been cancelled.</p>
<p>The event organisers will be in touch soon with information about refunding your ticket price.</p>

<p><a href="<%= rootUrl %>/events/<%= event.event._id %>">View Info for <%= event.name %></a></p>