<% layout('layouts/email') %>
<h2 align="center" style="margin-bottom:5;"><b><%= booking.event.name %></b> </h2>
<p align="center" style="margin-top: 0;">
  <%= dateOutput(booking.event.eventStart) %>
  <% if (dateOutput(booking.event.eventStart) != dateOutput(booking.event.eventEnd)) { %> to
  <%= dateOutput(booking.event.eventEnd) %>
  <% } %>
</p>
<p style="margin-bottom:0;">You have been gifted the following event tickets by <%= booking.originalUser.firstname %> <%= booking.originalUser.surname %></p>
<ul style="margin-top:0;">
  <% for (ticket of booking.eventTickets) { %>
  <li>
    <%= ticket.description %>
  </li>
  <% } %>
</ul>
<p><a href="<%= rootUrl %>/events/<%= booking.event._id %>">View Info for <%= booking.event.name %></a></p>