<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md">
        <div class="card shadow py-3 px-3 mb-3">
            <div class="card-header bg-white mb-3">
                <h4>About <%= config.siteName %></h4>
            </div>
            <div class="card-body">
                <%- config.siteDescription %>
                <hr>
                <p><%= config.siteName %> and all assosciated data is hosted within the United Kingdom.</p>
                <p>Development and design by <a target="_blank" class="link-dark" href="https://www.msdl.net">MSDL Ltd.</a><br/>
                    Utilising CSS styles of <a target="_blank" href="https://www.getbootstrap.com" class="link-dark">Bootstrap v<span id="bootstrapVersion"></span></a><br/>
                    Images licensed by <a target="_blank" href="https://stock.adobe.com" class="link-dark">Adobe Stock</a><br/>
                    Built with <a target="_blank" href="https://www.nodejs.org" class="link-dark">Node.js v<%= process.versions.node.split('.')[0] %></a> and <a target="_blank" href="https://www.expressjs.com" class="link-dark">Express v<%= express %></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card shadow py-3 px-3 mb-3">
            <div class="card-header bg-white mb-3">
                <h4>Our Inspiration</h4>
            </div>
            <div class="card-body">
                <p>In 2023 a certain amount of frustration crept in at seeing various Live Role Play Events only being advertised via Facebook, with the booking for the event being more involved than summoning your favourite diety.</p>
                <p>These limitations only serve to drive away newer players, and creates a barrier to those that are more nervous about diving in. Not to mention scaring off many enthusiastic and talented event writers.</p>
                <p>All our Event Organisers work increadibly hard, and usually entirely voluntarily. Expecting them to have the time, resources, and skills necessary to set up a professional booking system is wholly unrealistic. In the spirit of changing this I set to work developing a new booking system, originally designed to handle the many Lorien Trust sanctioned events. It didn't take long to realise that this problem is endemic to the entire hobby.</p>
                <p>A few tweaks here and there, and this system was made fully adaptable. Now able to handle any number of systems with their own needs for player and character information.</p>
                <p>At the start of 2024 I began reaching out to a few Event Organisers I knew to get the ball rolling, and if you're reading ths you are hopefully looking to attend one of their events.</p>
                <p>The whole process has very much been a labour of love, and I intend to keep improving the system to benefit our Event Organisers and this wonderful hobby</p>
                <h6 class="ms-4 text-muted">- JJK</h6>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('bootstrapVersion').innerText = bootstrap.Tooltip.VERSION
}, false)
</script>
